
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto; 
    background-color: bisque;
}

.row{
    display: flex;
    justify-content: space-between;
}

.items ul li{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
.logo{
    font-size: 1.8rem;
}

